{% extends "base.html" %}

{% block content %}
<h2>Sobre mí</h2>
    <p>Me gusta cantar, dibujar, pintar, leer, hablar, reirme, 
        muchas cosas mas ademas que mis hobbys pueden ir cambiando</p>
    <p>En un futuro no quiero hacer nada solo quiero tener la suficiente
         estabilidad economica como para no tener que pensar.</p>
    <h4 class="mt-4 text-success">Regis Reyes Jazmin Arleth</h4>
    <h4 class="mt-4 text-success">5-D Cetis61</h4>
    <div class="text-center">
  <img src="static/me.jpg" class="rounded" alt="me" width="50%">
</div>
{% endblock %}