{% extends "base.html" %}

{% block content %}
<h3>Maravillas del mundo</h3>
<p>Las maravillas del mundo son testimonios impresionantes de la creatividad, historia y arquitectura de la humanidad. Cada una tiene su propio valor y encanto.</p>

<h4>Gran Muralla China</h4>
<div class="text-center">
  <img src="static/gran_muralla_china.jpeg" class="rounded" alt="Gran Muralla China" width="50%">
</div>
<p>La Gran Muralla China es una estructura defensiva construida hace más de 2,000 años para proteger el territorio chino de invasiones. Es uno de los símbolos más emblemáticos de la ingeniería antigua.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/mc.mp4" type="video/mp4">
        </video>

<h4>Machu Picchu</h4>
<div class="text-center">
  <img src="static/machu_picchu.jpeg" class="rounded" alt="Machu Picchu" width="50%">
</div>
<p>Machu Picchu es una ciudad inca situada en lo alto de los Andes peruanos. Es famosa por su arquitectura y ubicación estratégica, y se considera una obra maestra de la ingeniería y cultura inca.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/m.mp4" type="video/mp4">
        </video>

<h4>Coliseo Romano</h4>
<div class="text-center">
  <img src="static/coliseo_romano.jpeg" class="rounded" alt="Coliseo Romano" width="50%">
</div>
<p>El Coliseo es un anfiteatro en Roma construido hace casi 2,000 años. Fue utilizado para combates de gladiadores y espectáculos públicos, y hoy es un símbolo de la grandeza del Imperio Romano.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/c.mp4" type="video/mp4">
        </video>

<h4>Taj Mahal</h4>
<div class="text-center">
  <img src="static/taj_mahal.jpeg" class="rounded" alt="Taj Mahal" width="50%">
</div>
<p>El Taj Mahal, en India, es un mausoleo construido en mármol blanco. Representa un testimonio de amor y es famoso por su belleza arquitectónica y simetría perfecta.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/t.mp4" type="video/mp4">
        </video>

<h4>Chichén Itzá</h4>
<div class="text-center">
  <img src="static/chichen_itza.jpeg" class="rounded" alt="Chichén Itzá" width="50%">
</div>
<p>Chichén Itzá es una antigua ciudad maya ubicada en México. Su pirámide de Kukulcán es conocida por su diseño astronómico y su importancia cultural en la civilización maya.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/i.mp4" type="video/mp4">
        </video>

<h4>Petra</h4>
<div class="text-center">
  <img src="static/petra.jpeg" class="rounded" alt="Petra" width="50%">
</div>
<p>Petra, en Jordania, es una ciudad tallada en la roca. Fue un importante centro comercial y es famosa por su arquitectura única y su impresionante fachada conocida como El Tesoro.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/p.mp4" type="video/mp4">
        </video>

<h4>Estatua de Cristo Redentor</h4>
<div class="text-center">
  <img src="static/cristo_redentor.jpeg" class="rounded" alt="Cristo Redentor" width="50%">
</div>
<p>La estatua de Cristo Redentor en Río de Janeiro, Brasil, es un símbolo de fe y paz. Su imponente altura y ubicación sobre el cerro del Corcovado la convierten en un ícono mundial.</p>
        <video class="rounded" width="60%" controls>
            <source src="static/r.mp4" type="video/mp4">
        </video>

{% endblock %}