{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
        <div class="card p-4 shadow mt-3">
            <div class="card-body">
                <div class="card-header mb-3 text-center bg-white border-0">
                    <h1 class="fw-bold">Crear una cuenta</h1>
                    <p>Es rápido y fácil</p>
                    <hr>
                </div>

                <form method="POST" action="/sesion">
                    
                    <div class="row mb-3">
                        <div class="col-6">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" name="apellido" placeholder="Apellido" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Número de celular o correo electrónico" required>
                    </div>
                    
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña nueva" required>
                    </div>
                    
                    <div class="mb-3">
                        <input type="password" class="form-control" name="repassword" placeholder="Repetir Contraseña" required>
                    </div>

                    <label class="form-label form-label-small">Fecha de nacimiento</label>
                    <div class="mb-3">
                         <input type="date" class="form-control" name="fechadenacimiento" required>
                    </div>
                    
                    <label class="form-label form-label-small">Género</label>
                    <div class="row mb-3">
                        <div class="col-4">
                            <div class="form-check border p-2 rounded text-center">
                                <input class="form-check-input" type="radio" name="genero" id="female" value="Mujer" required>
                                <label class="form-check-label" for="female">Mujer</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check border p-2 rounded text-center">
                                <input class="form-check-input" type="radio" name="genero" id="male" value="Hombre" required>
                                <label class="form-check-label" for="male">Hombre</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check border p-2 rounded text-center">
                                <input class="form-check-input" type="radio" name="genero" id="custom" value="Personalizado" required>
                                <label class="form-check-label" for="custom">Personalizado</label>
                            </div>
                        </div>
                    </div>

                    <p class="text-muted small">
                        Al hacer clic en "Registrarte", aceptas nuestras
                        <a href="#" class="link-primary">condiciones</a>, la <a href="#" class="link-primary">Política de privacidad</a> y la
                        <a href="#" class="link-primary">Política de cookies</a>.
                    </p>

                    <div class="d-grid gap-2 col-6 mx-auto mb-4">
                        <button type="submit" class="btn btn-success btn-lg">Registrarte</button>
                    </div>

                    <div class="text-center">
                        <a href="#" class="text-primary fw-bold">¿Ya tienes una cuenta?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 mx-auto" style="max-width: 400px;">
    <div class="card text-bg-light">
        <div class="card-body">
            <p class="text-center fw-bold">DATOS:</p>
            <p class="text-center fw-bold">NOMBRE COMPLETO:</p>
            <p class="text-center">REGIS REYES JAZMIN ARLETH</p>
            <p class="text-center fw-bold">GRUPO:</p>
            <p class="text-center">5-D</p>
            <p class="text-center fw-bold">NÚMERO DE MATRÍCULA:</p>
            <p class="text-center">23308060610258</p>
            <p class="text-center fw-bold">ESPECIALIDAD:</p>
            <p class="text-center">PROGRAMACIÓN</p>
        </div>
    </div>
</div>
{% endblock %}